@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --titulo: "Krona One", sans-serif;
    --texto: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: rgb(29, 28, 28);
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--texto);
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--titulo);
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--texto);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--texto);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.minha__foto {
    width: 40%;
    height: 50%;
    border-radius: 30px;
    box-shadow: 8px 12px 7px rgb(26 17 17);
}

.rodape {
    padding: 24px;
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: var(--texto);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .minha__foto {
        width: 100%;
    }

    .rodape {
        font-size: 20px;
    }
}